---
layout: compress
---
<!DOCTYPE html>
<html lang="nl">
<head>
 	<meta charset="utf-8" />

	<title>{{ page.title }} &middot; Stefan Jonker</title>

	{% include header.html %}

	{% include viewport.html %}
</head>

<body>

{% include skipnav.html %}

<div class="wrap">
	{% include responsivemenu.html %}

	<div class="navigationDefault">
	{% include menu.html %}
	</div>

	<div id="skiptocontent" tabindex="-1" role="main">
	{{ content }}
	</div>
</div>

<div class="navigationSmall" id="skiptomenusmall">
{% include menu.html %}
</div>

{% include hash.html %}

</body>
</html>
